---
layout: default
---
<div id="hd">
    {% include language.html %}
    <h1><a href="index_de.html">{{ page.heading }}</a></h1>

</div>
<div id="bd">
    <div id="yui-main">
    <div class="yui-b"><div class="yui-g">
            <div class="yui-u first">
                {{ content }}
            </div>
			<div class="yui-u second">

			<img id="slideshow" src="" /><br />
                <a href="#" onclick="prev();return false;">&lt;- Zurück</a>&nbsp;&nbsp;<a href="#" onclick="next();return false;">Weiter -&gt;</a>

                <br />
                <ul>
                    <li><a href="contact_de.html">Kontakt</a></li>
                    <li><a href="prices_de.html">Preise</a></li>
                    <li><a target="_new" href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=Stenager+1+B,+sj%C3%A6llands+odde,+danmark&sll=37.0625,-95.677068&sspn=52.020054,88.330078&ie=UTF8&ll=55.913812,11.383209&spn=0.29054,0.690079&z=11&om=1">Karte</a></li>
                    <li><a href="touristInfo_de.html">Touristinfo</a></li>
                </ul>

            </div>
        </div> </div>
    </div>

</div>
<div id="ft">
	<p style="float:right">
		<a href="http://www.ferienhausmiete.de/ferienhaus_details.php?obj_nr=54731">Ferienhaus in Dänemark</a> finden Sie bei <a href="http://www.ferienhausmiete.de">Ferienhausmiete.de</a>
	<!--Anfang Ferienhausmarkt.com Code -->
<a href="http://www.urlaubimferienhaus.net/">Urlaub im Ferienhaus</a> oder <a href="https://www.ferienhausmarkt.com/">www.ferienhausmarkt.com</a> buchen
<!--ENDE Ferienhausmarkt Code --> 

	</p>
    <p>Mail: <a href="mailto:cmetten@hotmail.com">cmetten@hotmail.com</a>, tlf: +45 31 26 69 01 / +45 31 26 83 87</p>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-7127862-4");
            pageTracker._trackPageview();
        } catch (err) {}</script>
</div>
