<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="sommerhus, leje, sjællands, odde">
	<meta name="description" content="Lej verdens bedste sommerhus">
	<title>Sommerhus til leje</title>
	<link rel="stylesheet" type="text/css" href="grids.css">

	<script type="text/javascript">
		var i = -1; // -1 since we use next() to initialize the image
		var images = new Array();
		images[0] = 'img/20002_2.jpg';
		images[1] = 'img/1.jpg';
		images[2] = 'img/2.jpg';
		images[3] = 'img/3.jpg';
		images[4] = 'img/4.jpg';
		images[5] = 'img/5.jpg';
		images[6] = 'img/6.jpg';
		images[7] = 'img/7.jpg';
		images[8] = 'img/8.jpg';
		images[9] = 'img/9.jpg';
		images[10] = 'img/10.jpg';
		images[11] = 'img/11.jpg';
		images[12] = 'img/12.jpg';
		images[13] = 'img/13.jpg';
		images[14] = 'img/20016_2.jpg';
		images[15] = 'img/20028_2.jpg';
		images[16] = 'img/plan.gif';
		function getimagetag() {
			var temp;
			temp = document.getElementById('slideshow');
			return temp;
		}

		function next() {
			i++;
			i = i % images.length;

			var img = getimagetag();
			img.src = images[i];
		}

		function prev() {
			i--;
			i = i % images.length;

			var img = getimagetag();
			img.src = images[i];
		}

		window.onload = next;

	</script>
</head>

<body>

	<div id="doc3" class="yui-t7">
		{{ content }}
	</div>
</body>

</html>
