---
layout: default
---
<div id="hd">
    {% include language.html %}

    <h1><a href="index_uk.html">Summer house for rent</a></h1>

</div>
<div id="bd">
    <div id="yui-main">
        <div class="yui-b"> <div class="yui-g">
                <div class="yui-u first">
                    {{ content }}
                </div>
                <div class="yui-u second">

                    <img id="slideshow" src="" /><br />
                    <a href="#" onclick="prev();return false;">&lt;- Previous picture</a>&nbsp;&nbsp;<a href="#" onclick="next();return false;">Next picture -&gt;</a>

                    <br />
                    <ul>
                        <li><a href="contact_uk.html">Contact</a></li>
                        <li><a href="prices_uk.html">Prices</a></li>
                        <li><a target="_new" href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=Stenager+1+B,+sj%C3%A6llands+odde,+danmark&sll=37.0625,-95.677068&sspn=52.020054,88.330078&ie=UTF8&ll=55.913812,11.383209&spn=0.29054,0.690079&z=11&om=1">Map</a></li>
                        <li><a href="touristInfo_uk.html">Tourist Information</a></li>
                    </ul>

                </div>
            </div> </div>
    </div>

</div>
<div id="ft">
    <p>Mail: <a href="mailto:cmetten@hotmail.com">cmetten@hotmail.com</a>, phone: +45 31 26 69 01 / +45 31 26 83 87</p>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-7127862-4");
            pageTracker._trackPageview();
        } catch (err) {}</script>
</div>
